@import url(styles/header.css);
@import url(styles/intro.css);
@import url(styles/search-form.css);
@import url(styles/benefits.css);
@import url(styles/places.css);
@import url(styles/tours.css);
@import url(styles/top.css);
@import url(styles/videos.css);
@import url(styles/footer.css);

*,
*::before,
*::after {
  box-sizing: border-box; 
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background-color: #F2F2F2;
}

img {
	max-width: 100%;
	height: auto;
}

/* Container */

.container {
	margin: 0 auto;
	/* padding: 0 15px; */
	max-width: 1060px;
}

.container__full {
	max-width: 1262px;
	margin: 0 auto;
}

.section__title {
	padding-bottom: 10px;
	position: relative;
	font-size: 35px;
	font-weight: 500;
	line-height: 42px;
}

.section__title::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 253px;
	height: 3px;
	background-color: #006DFE;
}
