.header {
	padding-top: 56px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: .2s linear;
	z-index: 100;
}

.header__active {
	padding: 20px 0;
	background-color: #0E1D28;
	opacity: .93;
}

.header__active.header__wrapper {
	padding: 0;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
}

.header__list {
	display: flex;
}

.header__item {
	margin-right: 82px;
}

.header__item:last-child {
	margin-right: 0;
}

.header__link {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	text-decoration: none;
	transition: opacity .2s ease-in;
}

.header__link:hover,
.header__link:active,
.header__link:focus {
	opacity: .8;
}

