.places {
	margin-bottom: 131px;
}

.places__header {
	margin-bottom: 37px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.places__title {
	margin-right: 15px;
}

.places__view__all {
	padding-right: 59px;
	font-size: 16px;
	line-height: 24px;
	color: #006dfe;
	text-transform: uppercase;
	text-decoration: none;
	background: url(../../img/arrow.svg) no-repeat right center;
	transition: opacity .2s linear;
}

.places__view__all:hover,
.places__view__all:focus {
	opacity: .65;
}

.places__cards {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 10px;
}

.places__card {
	position: relative;
	overflow: hidden;
}

.places__card::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(21, 24, 36, 0.4);
}

.places__card:hover .places__card__img {
	transform: scale(1.05);
}

.places__card_size__lg {
	grid-column: span 3;
}

.places__card_size__sm {
	grid-column: span 2;
}

.places__card__img {
	width: 100%;
	object-fit: cover;
	transition: .2s all;
}

.places__card__img__lg {
	height: 354px;
}

.places__card__img__sm {
	height: 283px;
}
.places__card__title {
	position: absolute;
	left: 29px;
	bottom: 27px;
	font-size: 50px;
	font-weight: 700;
	line-height: 60px;
	color: #fff;
	z-index: 3;
}

.places__card__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
}